<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Portfolio Alina Puscas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Alipidev</title>
</head>
<body>
    <header>
        <!-- Encabezado de la página web -->
        <div class="header-container">
            <h1><a href="../index.html" class="logo-text">Alipi<span>dev</span></a></h1>
        </div>
        <!-- Navegador -->
        <nav class="navbar">
            <ul>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="portfolio.html">Portfolio</a>
                </li>
                <li>
                    <a href="presupuestos.html" class="active">Presupuestos</a>
                </li>
                <li>
                    <a href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- MAIN contenido principal de la página web -->
    <main>
        <section class="section-presupuesto">
            <h2>Solicitud de presupuesto</h2>
        <form>
            <fieldset>
                <legend>Datos Personales</legend>

                <label for="name">Nombre</label>
                <input type="text" name="name"  id="name" placeholder="Introduzca su nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]{2,40}" 
                    title="El nombre solo puede contener letras y espacios" required>

                <label for="correo">Correo electrónico</label>
                 <input type="email" name="correo" id="correo" placeholder="Introduzca su correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Introduzca un correo válido" required>

                <label for="phone">Teléfono móvil</label>
                <input type="tel" name="phone" id="phone" placeholder="Introduzca su número de móvil" pattern="[0-9]{9}"
                    title="El teléfono debe tener 9 números" required>

                <label for="comentario">Solicite más información</label>
                <textarea name="comentario" id="comentario" rows="5" placeholder="Cuéntanos más sobre tu proyecto..." required></textarea>

                <div class="checkbox-container">
                    <input type="checkbox" name="politica" id="politica" required>
                    <label for="politica">Acepto la <strong>Política de Privacidad</strong></label>
                </div>
                <button type="submit" class="btn-enviar">Enviar Solicitud</button>
            </fieldset>
        </form>
        </section>
    </main>
    <!-- Cargamos el footer -->
    <div id="mi-footer"></div>

    <!-- Cargamos el script -->
     <script src="/js/components.js"></script>
</body>
</html>