<!-- FOOTER pie de página -->
<footer class="site-footer">
    <!-- Iconos de redes sociales -->
    <div class="footer-social">
        <h4>Síguenos</h4>
        <div class="social-icons">
            <a href="https://www.tiktok.com/@alipidev" target="_blank" aria-label="tiktok">
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <!-- <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i> -->
            </a>
            <a href="https://github.com/Alipidev" target="_blank" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>

    <!-- Dirección de la empresa -->
     <div class="footer-address">
        <h4>Nuestra sede</h4>
        <address>
            Avenida Ausias March <br>
            46026 Valencia, España
        </address>
     </div>
    <!-- Aviso legal -->
     <div class="footer-content" id="mi-footer">
        <p>&copy; 2026 Alipidev. Todos los derechos reservados</p>
        <a href="views/aviso-legal.html">Aviso Legal</a>
     </div>
 </footer>